body{
  background-image: url(../PALM\ TREES\ 4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
header{
  height: 40px;
  width: 100%;
  position: sticky;
  top: 5PX;

}
.heroimg{
 text-align: center;
}
li{
display: inline-block ;
}
  li a{
  word-spacing:  50px;
  text-decoration: none;
  padding: 2px;
  color: blue;
} 
ul{
  background-color: pink;
  text-align: center;
}  
li a:hover{
  background-color:rgb(98, 94, 94);
  color: rgb(10, 9, 9);
} 
li a:link{
  color: red;
}
li a:visited{
  color: purple;
}
li a:active{
  color: yellow;
}
.box{
  width: 600px;
  height: auto;
  margin-top: 40px;
  color: white;
  margin-left: 120PX;
}
.space{
  height: 4000px;
  width: 200px;
}
article{
  color: rgb(251, 5, 226);
  padding-top: 10%;
  text-align: center;
  font-weight: bolder;
}
.p1{
color: rgb(206, 37, 116);
font-weight: bolder;
}

.p2{ 
  color: rgb(206, 37, 116);
  font-weight: 900;
}

aside{
  height: 150px;
  width: 150px;
  border-color: red;
  border: 10px solid pink;
  float: right;
  margin: 0;
  font-size: xx-small;
  background-color: pink;
  font-weight:bolder
}
h1{
  color: pink;
}
h5{
  font-size: larger
}
.h5tag{
  color: pink;
}
.container{
  border-radius: 0px;
  background-color: #f545b7;
  padding: 20px;
  }
  input[type=submit]:hover {
  background-color: #45a049;
  }
input[type=text], select, textarea {
  width: 100%; 
  padding: 12px;  
  border: 1px solid #ccc; 
  border-radius: 4px;
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px;
  resize: vertical 
  }
  input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
footer{
  padding: 0;
  margin-top: 5in;
  background-color: rgb(128, 103, 103);
  opacity: .7;

}

@media (max-width: 1022px) {
  .container{
      width: 60%;
      margin: 4%;
  }
}

@media (max-width:1083px){
  .container{
      width: 60%;
      margin: 4%;
  }

}


@media (max-width: 120%){

  .container{
      width: 100%;
      margin: 0 0 4% 0;
  }

  .container{
      width: 100%;
      margin: 0;
  }







}
  
